<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit Game</h1>
  <form action="/profiles/<%= profile._id %>/games/<%= game._id %>?_method=PUT" method="post">
    <label >
      Title:
      <input type="text" name ="title" value="<%= game.title %>">
    </label>
    <label >
      Game type:
      <select name="gameStyle">
        <option value="<%= game.gameStyle %>"><%= game.gameStyle %></option>
        <option value="Standard">Standard</option>
        <option value="Nuzlcke">Nuzlcke</option>
        <option value="Randomized">Randomized</option>
      </select>
    </label>
    <label >
      Gym:
      <select name="gym">
        <option value="<%= game.gym %>"><%= game.gym %></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="E4">E4</option>
      </select>
    </label>
    <button type="submit">Update</button>
  </form>
</section>

<%- include('../partials/footer') %>