<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <% if (isSelf) { %> 
    <form action="/games" method="POST">
      <label >
        First Add your game here:
        <input type="text" name ="title" autocomplete="off">
      </label>
      <button type="submit">Add 🎮</button>
    </form>
  <form action="/profiles/<%= profile._id %>/games" method="POST">
    <label >
      Now select it from the list:
      <select name="gameId">
        <% games.forEach(game => { %> 
          <option value="<%= game._id %>"><%= game.title %> </option>
          <% }) %> 
      </select>
    </label>
    <label >
      Game type:
      <select name="gameStyle">
        <option value="Standard">Standard</option>
        <option value="Nuzlocke">Nuzlocke</option>
        <option value="Randomized">Randomized</option>
      </select>
    </label>

    </label>
    <button type="submit">Add 🎮</button>
  </form>
  <% } %> 
	<% if (profile.games.length)  {%>
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has` %> games! Here they are!
    </h2>
    <% profile.games.forEach(game => { %> 
        <h3>
          They are playing <a href="/games/<%= game._id %>"><%= game.title %></a> as a <%= game.gameStyle %> game.
          <% if (isSelf) { %> 
            <form 
              action="/profiles/<%= profile._id %>/games/<%= game._id %>?_method=DELETE" 
              method="POST"
              style="display: inline-block;"
            >
              <button>Delete <%= game.title %></button>
            </form>

          <% } %>
          </h3>
    <% }) %> 
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any games.
    </h2> 
  <% } %>
</main>

<%- include('../partials/footer') %>