<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <form action="/profiles/<%= profile._id %>/games" method="POST">
      <input type="text" name ="title" class = 'input' autocomplete="off" placeholder="Game Title">
      <input type="text" name ="gameStyle" class = 'input' autocomplete="off" value="Standard">
    <button type="submit">Add 🎮</button>
  </form>
	<% if (profile.games.length)  {%>
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has` %> games! Here they are!
    </h2>
    <% profile.games.forEach(game => { %> 
      <h3>
      They are playing <a href="/profiles/<%= profile._id %>/games/<%= game._id %>/edit"><%= game.title %></a> as a <%= game.gameStyle %> game, they are on gym <%= game.gym %> 
      <% if (isSelf) { %>
          <form 
          action="/profiles/games/<%= game._id %>?_method=DELETE" 
          method="POST"
          style="display: inline-block;"
        >
            <button type="submit">Delete <%= game.title %></button>
          </form>
      </h3>
    <% } %>  
      <div>
        <table>
          <thead>
            <tr>
              <th>My Team</th>
            </tr>
          </thead>
          <tbody>
            <% game.pokemon.forEach(function(mon) { %>
              <tr>
                <td><%= mon.name %> 
                  <% if (isSelf) { %> 
                    <form 
                    action="/profiles/<%= profile._id %>/games/<%= game._id %>/pokemon/<%= mon._id %>?_method=DELETE" 
                    method="POST"
                    style="display: inline-block;"
                  >
                    <button type="submit">Release</button>
                    </form>
                  <% } %> 
                </td>
              </tr>
            <% }) %> 
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>My Journey</th>
              <th>Gym No.</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% game.logs.forEach(function(log) { %>
              <tr>
                <td><%= log.content %></td>
                <td><%= log.gym %></td>
                <td><%= log.createdAt.toLocaleDateString() %></td>
              </tr>
            <% }) %>       
            </tbody>
          </table>
      </div>
      <% if (isSelf) { %> 
        <div>
          <form action="/profiles/<%= profile._id %>/games/<%= game._id %>/pokemon" method="post">
          <input type="text" name ="name" class = 'input' autocomplete="off" placeholder="Squad" required>
          <button type="submit">Make a friend</button>
          </form>
        <form action="/profiles/<%= profile._id %>/games/<%= game._id %>/logs" method="post">
          <input type="text" name ="content" class = 'input' autocomplete="off" placeholder="The Journey So far" required>
          <label for="gym">Gym</label>
          <select name="gym">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="E4">E4</option>
          </select>
          <button type="submit">Add log</button>
          </form> 
        </div>
      <% } %>
    <% }) %> 
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any games.
    </h2> 
  <% } %>
</main>

<%- include('../partials/footer') %>